body{
    font-family: sans-serif;
    background-color: burlywood;
    width: 100%;
    height: 100%;
}

.title{
    text-align: center;
}

.control-panel {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    background-color: beige
}


.settings {
    background-color: white;
    border: 1px solid black;
    display: block;
    position: absolute;
    z-index: 10;
}






.menu-item
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menu-item > li
{
    height: 30px;
    background: #999999;
}
.menu-item > li:hover { background: #CCCCCC; }

.menu-items
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items > li
{
    position: relative;
    /* float: left; */
    height: 30px;
    width: 150px;
    background: #999999;
}
.menu-items > li:hover { background: #CCCCCC; }

.menu-items li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.menu-items span /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;
    
    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.menu-items span:hover { color: #000000; }









.dropdown-figures {
    position: relative;
    display: inline-block;
}

.dropdown-figures .dropdown-figures-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
}

.dropdown-figures .dropdown-figures-content .dropdown-figures-content-item {
    padding: 3px;
}

.dropdown-figures .dropdown-figures-content .dropdown-figures-content-item:hover {
    background-color: green;
}

.dropdown-figures:hover .dropdown-figures-content {
    display: block;
}

.canvas-wrapper{
    background-color: white;
    height: 600px;
}

.canvas-wrapper div .layer2 {
    display: none;
}

.current-status {
    display: flex;
}

.current-status .current-color {
    width: 30px;
    height: 10px;
}

.current-status p {
    padding: 0 2px;
    margin: 0;
}